@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");

@font-face {
    font-family: "signature";
    src: url("./fonts/optimistic-signature.regular.ttf");
}

/* Body */

body {
    font-family: "Lato", sans-serif;
    font-style: normal;
}

/* Font Fam */
#signature {
    font-family: "signature";
    font-size: 3rem;
    line-height: 6rem;
}

#navbar-logo {
    font-family: "signature";
}

/* Primary Container Class */

.container {
    --max-width: 1110px;
    --padding: 1rem;

    width: min(var(--max-width), 100% - (var(--padding) * 2));
    margin-inline: auto;
}

/* Navbar  */

#navbar a {
    padding: 15px 20px;
    border-radius: 4px;
}
#navbar a.active {
    background: #ededed;
    padding: 15px 20px;
    border-radius: 4px;
    transition: 0.3s ease-in-out;
}

/* Responsive Modal */

.react-responsive-modal-modal {
    border-radius: 6px;
}
